[user]
	name = Sam Neirinck
	email = sam@samneirinck.com
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[core]
	autocrlf = false
	editor = code --wait
[alias]
	qlog = log --graph --decorate --oneline
	vsts = !explorer `git config remote.origin.url | grep visualstudio.com | head -1 | cut -f2 | cut -d' ' -f1`